<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6" ng-controller="PricePerGalController as ppg">
            <div class="ibox float-e-margins">
                
                <div class="ibox-title">
                    <div>
                        <h5>Price $/gal</h5>
                    </div>
                </div>
                
                <div class="ibox-content">
                    <canvas id="line" class="chart chart-line" chart-data="ppg.data" chart-labels="ppg.labels" chart-series="ppg.series" chart-click="onClick"></canvas>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6" ng-controller="MilesPerGalController as mpg">
            <div class="ibox float-e-margins">
                
                <div class="ibox-title">
                    <div>
                        <h5>Miles/gal</h5>
                    </div>
                </div>
                
                <div class="ibox-content">
                    <canvas id="line" class="chart chart-line" chart-data="mpg.data" chart-labels="mpg.labels" chart-series="mpg.series" chart-click="onClick"></canvas>
                </div>
            </div>
        </div>
    </div>
            
    <div class="row" ng-controller="FuelListController as fl">
        <div class="col-lg-12">        
            <div class="ibox float-e-margins">
                
                <div class="ibox-title">
                    <div>
                        <h5>Fill-ups - {{fl.fillUps[0].vehicle}}</h5>
                        <div class="ibox-tools">
                            <a ui-sref="fuel.new" class="btn btn-primary btn-xs">Add fill-up record</a>
                        </div>
                    </div>                    
                </div>
                
                <div class="ibox-content">
                    <table class="footable table table-striped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th data-toggle="true">Date</th>
                                <th>Odometer</th>
                                <th>Price $/gal</th>
                                <th>Volume</th>
                                <th>Total Cost</th>
                                <th data-hide="all">Partial Fill-up?</th>
                                <th data-hide="all">Missed Fill-ups?</th>
                                <th data-hide="all">Payment Type</th>
                                <th>Fuel</th>
                                <th data-hide="all">Station</th>
                                <th data-hide="all">Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fillUp in fl.fillUps" footable-complete>
                                <td>{{fillUp.date}}</td>
                                <td>{{fillUp.odometer}}</td>
                                <td>{{fillUp.price}}</td>
                                <td>{{fillUp.volume}}</td>
                                <td>{{fillUp.cost}}</td>
                                <td>{{fillUp.partial}}</td>
                                <td>{{fillUp.missed}}</td>
                                <td>{{fillUp.payment_type}}</td>
                                <td>{{fillUp.fuel_grade}}</td>
                                <td>{{fillUp.station_name}}</td>
                                <td>{{fillUp.note}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
