<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-controller="PricePerGalCtrl">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                
                <div class="ibox-title">
                    <div>
                        <h5>Price $/gal</h5>
                    </div>
                </div>
                
                <div class="ibox-content">
                    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas>
                </div>
            </div>
        </div>
    </div>
            
    <div class="row" ng-controller="FuelListCtrl">
        <div class="col-lg-12">        
            <div class="ibox float-e-margins">
                
                <div class="ibox-title">
                    <div>
                        <h5>Fill-ups - {{fillUps[0].vehicle}}</h5>
                    </div>                    
                </div>
                
                <div class="ibox-content">
                    <table class="footable table table-striped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th data-toggle="true">Id</th>
                                <th>Odometer</th>
                                <th>Price $/gal</th>
                                <th>Volume</th>
                                <th>Total Cost</th>
                                <th data-hide="all">Partial Fill-up?</th>
                                <th data-hide="all">Missed Fill-ups?</th>
                                <th>Date</th>
                                <th data-hide="all">Payment Type</th>
                                <th>Fuel</th>
                                <th data-hide="all">Station</th>
                                <th data-hide="all">Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fillUp in fillUps" footable-complete>
                                <td>{{fillUp.id}}</td>
                                <td>{{fillUp.odometer}}</td>
                                <td>{{fillUp.price}}</td>
                                <td>{{fillUp.volume}}</td>
                                <td>{{fillUp.cost}}</td>
                                <td>{{fillUp.partial}}</td>
                                <td>{{fillUp.missed}}</td>
                                <td>{{fillUp.dateTime}}</td>
                                <td>{{fillUp.paymentType}}</td>
                                <td>{{fillUp.fuel[0].octane}}</td>
                                <td>{{fillUp.station[0].name}}</td>
                                <td>{{fillUp.note}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
