<div class="wrapper wrapper-content animated fadeInRight" ng-controller="FuelCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <p>{{fillUps[0].id}}</p>
                <p>{{fillUps[0].odometer}}</p>
                <p>{{fillUps[0].price}}</p>
                <h1>
                    Simple example of second view
                </h1>
                <small>Configure in config.js as minor state.</small>
            </div>
        </div>
    </div>
</div>