<div class="wrapper wrapper-content animated fadeInRight" ng-controller="FuelCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                
                <div class="ibox-title">
                    <div ng-repeat="fillUp in fillUps">
                        <h5>Fill-ups - {{fillUp.vehicle}}</h5>
                    </div>                    
                </div>
                
                <div class="ibox-content">
                    <table class="footable table table-striped toggle-arrow-tiny" ng-repeat="fillUp in fillUps">
                        <thead>
                            <tr>
                                <th data-toggle="true">Id</th>
                                <th>Odometer</th>
                                <th>Price $/gal</th>
                                <th>Volume</th>
                                <th>Cost</th>
                                <th data-hide="all">Partial Fill-up?</th>
                                <th data-hide="all">Missed Fill-ups?</th>
                                <th>Date</th>
                                <th data-hide="all">Payment Type</th>
                                <th>Fuel</th>
                                <th data-hide="all">Station</th>
                                <th data-hide="all">Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{fillUp.id}}</td>
                                <td>{{fillUp.odometer}}</td>
                                <td>{{fillUp.price}}</td>
                                <td>{{fillUp.volume}}</td>
                                <td>{{fillUp.cost}}</td>
                                <td>{{fillUp.partial}}</td>
                                <td>{{fillUp.missed}}</td>
                                <td>{{fillUp.dateTime}}</td>
                                <td>{{fillUp.paymentType}}</td>
                                <td>{{fillUp.fuel[0].octane}}</td>
                                <td>{{fillUp.station[0].name}}</td>
                                <td>{{fillUp.note}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>