<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile</h2>
        <div ncy-breadcrumb ></div>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SettingsController as settings">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <p>Profile</p>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <a><i class="fa fa-envelope-square fa-4x pull-left"></i></a>
                        <h3>Email Notifications</h3>
                        <p>Configure how you receive email notifications.</p>
                    </div>
                </div>
            </div>
        </div>                        
    </div>
</div>