<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SettingsCtrl as settings">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <p>Account</p>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <a><i class="fa fa-user fa-4x pull-left"></i></a>
                        <h3>Profile</h3>
                        <p>Change your basic account, photo, e-mail, and language settings.</p>
                    </div>
                    <div class="col-lg-6">
                        <a><i class="fa fa-lock fa-4x pull-left"></i></a>
                        <h3>Password</h3>
                        <p>Change your password or recover your current one.</p>                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <a><i class="fa fa-envelope-square fa-4x pull-left"></i></a>
                        <h3>Email Notifications</h3>
                        <p>Configure how you receive email notifications.</p>
                    </div>
                </div>
            </div>
        </div>                        
    </div>
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <p>General</p>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <a><i class="fa fa-language fa-4x pull-left"></i></a>
                        <h3>Units, Language, and Formats</h3>
                        <p>Configure the units, language, and data formats you want to use.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <p>Vehicles</p>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <a><img src="images/infiniti-g37.jpg" alt="" class="img-circle pull-left"/></a>
                        <h3>Hotrod G37</h3>
                        <p>2008 G37 Coupe</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>